<div class="container">
<hr>
<div align="center"><small>Created by <a href="https://twitter.com/NathanielGiron" target="_blank">Nathaniel Giron</a> | Data provided by <a href="http://earthquake.usgs.gov/earthquakes/feed/v1.0/index.php">USGS</a></small></div>
</div>